<html>

<head>
	<title>Toten</title>
	<script src=
"https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
	</script>
	<script src=
"https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js">
	</script>
	<style>
		body {
			text-align: center;
			font-family: Arial, Helvetica, sans-serif;
		}

		h1 {
			color: green;
		}
	</style>
</head>

<body>
	<h1>TecGo</h1>
	<h3>Informações</h3>
	<div ng-app="gfg">
		<p>
			<a href="#addCourse">Add Course</a>
		</p>
		<p>
			<a href="#viewCourses">View Courses</a>
		</p>
		<div ng-view></div>
		<script type="text/ng-template"
				id="addCourse.htm">
			<h2> Add Course </h2> {{message}}
		</script>
		<script type="text/ng-template"
				id="viewCourses.htm">
			<h2> View Courses </h2> {{message}}
		</script>
	</div>
	<script>
		var gfg = angular.module("gfg", ['ngRoute']);
		gfg.config(['$routeProvider', function($routeProvider) {
			$routeProvider.when('/addCourse', {
				templateUrl: 'addCourse.htm',
				controller: 'AddCourseController'
			}).when('/viewCourses', {
				templateUrl: 'viewCourses.htm',
				controller: 'ViewCoursesController'
			}).otherwise({
				redirectTo: '/addCourse'
			});
		}]);
		gfg.controller('AddCourseController', function($scope) {
			$scope.message =
			"This page will be used to display add Course";
		});
		gfg.controller('ViewCoursesController', function($scope) {
			$scope.message =
			"This page will be used to display all the Courses";
		});
	</script>
</body>
</html>
